DATABASE_URL=postgres://zone_blitz:zone_blitz@localhost:5432/zone_blitz
BETTER_AUTH_SECRET=your-secret-here
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=826314607045-dis96deqtmh91vaqp676e8ag8tca0uas.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
